body{
    margin: 0;
    padding: 0;
    background-color: #424355;
    font-family: Signika;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    
}
.signature{
    color: white;
    font-family: Sacramento;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
.nav-element{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Signika;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin-top: 20p;
}
.nav-element a{
    text-decoration: none;
    color: white;
    transition: 300ms ease;
}
.hero-ele span{
    font-weight: 600;
    font-size: 64px;
    font-family: Signika;
}
.hero-ele p{
    font-style: normal;
    font-weight: 200;
    font-size: 64px;
    color: white;
    font-family: Signika;
    margin-bottom: 50px;
    margin-top: 10px;
}
.quote{
    font-size: 20px;
    font-weight: 600;
    font-family: Raleway;
    color: white;
}
.hero-ele{
    display: flex;
    justify-content: space-between;
    margin: 30px 80px;
    padding: 100px;
    background: #424355;
    box-shadow: -10px -10px 20px #4F5062, 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    align-items: center;
}

/* .hero-ele img{
    animation: slow_down 3s ease;
} */
/* @keyframes slow_down {
    0%{opacity: 0;}
    100%{opacity: 1;}    
} */
#hero{
    width: 35vw;
    height: auto;
}
@media screen and (max-width:767px) {
    #hero{
        width: 80vw;
    }
}
.sign{
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    font-family: Rancho;
    text-align: end;
    margin-top: 20px;
}
.project-ele h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 48px;
    color: white;
    margin-bottom: 0px;
    
}
.project-ele hr{
    margin: auto;
    width: 100px;
    height: 3px;
    border-radius: 10px;
}
.project1{
    background: #424355;
    box-shadow: -6px -6px 12px rgba(103, 105, 135, 0.5), 6px 6px 12px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 400px;
    margin: auto;
    margin-bottom: 30px;
    overflow: hidden;

}
.project1 img{
    transition: 300ms linear;
    max-width: 400px;
    max-height: 225px;
    object-fit: cover;
}
.project1 img:hover{
    transform: scale(1.2);
}
.projects{
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    width: 100%;
    padding-top: 100px;
}
.project-ele{
    padding: 0px 100px;
    display: flex;
    flex-direction: column;

}
.project_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
.project_wrapper span{
    color: white;
    font-size: 20px;
}
.about_me h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 48px;
    color: white;
    margin-bottom: 0px;
    
}
.about_me hr{
    margin: auto;
    width: 100px;
    height: 3px;
    border-radius: 10px;
}
.content{
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0px;
    align-items: center;
}
.content span{
    font-size: 30px;
    font-weight: 300;
    color: white;
    display: flex;
    align-items: center;
}
.my_img{
    height: 500px;
    width: auto;
}
.skills h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 48px;
    color: white;
    margin-bottom: 0px;
    
}
.skills hr{
    margin: auto;
    width: 50px;
    height: 3px;
    border-radius: 10px;
}
.skill_content{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 100px 0px;
}
.skill_container{
    background: #424355;
    box-shadow: -6px -6px 12px #5F607E, 6px 6px 12px rgba(0, 0, 0, 0.25);
    border-radius: 200px;
    max-height: 175px;
    max-width: 175px;
    height: 25vw;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
}
.skill_container img{
    max-height: 80px;
    max-width: 80px;
    height: 10vw;
    width: 10vw;
}
.education h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 48px;
    color: white;
    margin-bottom: 0px;
    
}
.education hr{
    margin: auto;
    width: 100px;
    height: 3px;
    border-radius: 10px;
}
.img_edu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_edu img{
    width: 100%;
}
.contact h2{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 48px;
    color: white;
    margin-bottom: 0px;
    
}
.contact hr{
    margin: auto;
    width: 100px;
    height: 3px;
    border-radius: 10px;
}

.card{
    background: #272834;
    box-shadow: 4px 4px 8px rgba(160, 160, 160, 0.23);
    border-radius: 10px;
    display: flex;
    max-width: 300px;
    max-height: 100px; 
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    width: 30vw;
    height: 12vw;
}
.card span{
    color: #C8C8C8;
    font-weight: 300;
    font-size: 36px;

}
.card img{
    max-width: 50px;
    max-height: 50px;
    width: 5vw;
    height: 5vw;
    
}
.contact_elements{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    
}
.contact_elements1{
    display: flex;
    justify-content: space-evenly;
        
}
.social_link hr{
    width: 100px;
    height: 3px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
}
.social_link h2{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    font-weight: 300;
    font-size: 36px;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    
}
.social_link{
    display: flex;
    flex-direction: column;
    width: 300px;

}
.social_link a{
    font-weight: normal;
    font-size: 24px;
    color: white;
    font-weight: 200;
    text-decoration: none;
}
footer{
    background: #272834;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
}
footer .signature{
    font-size: 30px; 
    width: 300px; 
    text-align: center; 
}
.links hr{
    width: 50px;
    height: 3px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-left: 220px;
}
.links h2{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    font-weight: 300;
    font-size: 36px;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    
}
.links a{
    font-weight: normal;
    font-size: 24px;
    color: white;
    font-weight: 200;
    text-decoration: none;
}
.links{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-end;
}
.copyright{
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    background: #272834;
}
.menu{
    display: none;

}
@media screen and (max-width:1000px) {
    .menu{
        display: block;
    }
    .menu img{
        height: 30px;
    }
    .nav-element{
        display: none;
    }
}
@media screen and (max-width:767px){
    nav{
        padding: 30px 50px;
        padding-bottom: 0;
    }
    
} 
@media screen and (max-width:1315px) {
    .hero-ele p{
        font-size: 50px;
    }
    .hero-ele span{
        font-size: 50px;
    }
    .hero-ele img{
        width: 100%;
    }
}
@media screen and (max-width:1290px){
    .quote{
        font-size: 15px;
    }
}
@media screen and (max-width:1210px){
    .hero-ele p{
        font-size: 3.5vw;
    }
    .hero-ele span{
        font-size: 3.5vw;
    }
    .hero-ele{
        padding: 60px;
    }
}
@media screen and (max-width:964px){
    .hero-ele{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .quote{
        font-size: 20px;
    }
    #break{
        display: none;
    }
    .hero-ele p{
        margin-top: 50px;
    }
    .hero-ele{
        padding: 50px;
    }

}
@media screen and (max-width:800px){
    .hero-ele p{
        font-size: 30px;
    }
    .hero-ele span{
        font-size: 30px;
    }
}
@media screen and (max-width:667px){
    #break1{
        display: none;
    }
    .hero-ele p{
        font-size: 25px;
    }
    .hero-ele span{
        font-size: 25px;
    }
    .quote{
        font-size: 15px;
    }

}
@media screen and (max-width:530px){
    #break1{
        display: none;
    }
    .hero-ele p{
        font-size: 23px;
    }
    .hero-ele span{
        font-size: 23px;
    }
    .quote{
        font-size: 13px;
    }
    .hero-ele{
        margin: 20px 30px;
        padding: 30px;
    }

}
@media screen and (max-width:1050px){
    .project-ele{
        padding: 0 80px;
    }
    .projects{
        grid-template-columns:auto;
    }
}
@media screen and (max-width:767px){
    .project-ele{
        padding: 0;
    }
    .project1{
        width: auto;
        max-width: 80vw;
    }
    .project-ele h2{
        font-size: 36px;
    }
    .project1 img{
        object-fit: cover;
        width: 100%;
    }
}
@media screen and (max-width:1000px) {
    .about_me span{
        font-size: 25px;
    }
    .my_img{
        max-height: 500;
        height:50vw;
    }
}
@media screen and (max-width:800px) {
    .about_me span{
        font-size: 18px;
    }
    .about_me h2{
        font-size: 36px;
    }
}
@media screen and (max-width:600px){
    .content br{
        display: none;

    }
    .content span{
        margin: 0 20px;
        font-size: 15px;
    }
    .content img{
        margin-left: 20px;
    }
    .about_me h2{
        font-size: 36px;
    }

}
@media screen and (max-width:767px){
    .skills h2{
        font-size: 36px;
    }
    .skill_content{
        padding: 60px 0px;
        padding-bottom: 30px;
    }
    .skill_container{
        box-shadow: -4px -4px 4px rgba(115, 116, 141, 0.47), 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
@media screen and (max-width:767px){
    .education h2{
        font-size: 36px;
    }
}
@media screen and (max-width:767px){
    .card span{
        font-size: 4vw;
    }
    .contact_elements{
        padding: 30px 0;
    }
    .contact h2{
        font-size: 36px;
    }
}
.mobile_footer{
    display: none;
}
@media screen and (max-width:767px) {
    .web_footer{
        display: none;
    }
    .mobile_footer{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        margin-top: 50px;
    }
    .container_footer{
        display: flex;
        justify-content: space-between;
        width: calc(100% - 40px);

    }
    .links hr{
        margin-right: 0px;
    }
    .social_link{
        width: max-content;
    }
    .social_link a{
        font-size: 18px;
    }
    .social_link h2{
        font-size: 20px;
    }
    .social_link hr{
        width: 50px;
        height: 2px;
    }
    .links{
        width: auto;
    }
    .links{
        width: max-content;

    }
    .links a{
        font-size: 18px;
    }
    .links h2{
        font-size: 20px;
    }
    .links hr{
        width: 50px;
        height: 2px;
        margin-left: 0;
    }
    .links{
        width: max-content;
    }
    footer .signature{
        margin-top: 30px;
    }
    .copyright{
        font-size: 15px;
    }
}
.menu_elements{
    background: #424355;
    box-shadow: inset -2px -2px 4px rgba(146, 148, 181, 0.4), inset 2px 2px 4px rgba(41, 42, 55, 0.59);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    margin: 20px 30px;
    display: none;
}
.menu_elements a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 8px 0;
}
.nav-element a:hover{
    transform: scale(1.1);
}
.more{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.project_more h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 40px;
    color: white;
    margin-bottom: 0px;
    padding: 20px;
    padding-bottom: 5px;
    
}
.project_more hr{
    margin: auto;
    width: 80px;
    height: 3px;
    border-radius: 10px;
    margin-bottom: 50px;
    
}
.project2{
    background: #424355;
    box-shadow: -6px -6px 12px rgba(103, 105, 135, 0.5), 6px 6px 12px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 400px;
    margin: auto;
    margin-bottom: 30px;
    overflow: hidden;
    

}
.project2 img{
    transition: 300ms linear;
    max-width: 400px;
    max-height: 225px;
    object-fit: cover;
}
.project2 img:hover{
    transform: scale(1.2);
}
.all-projects{
    display: grid;
    grid-template-columns: auto auto auto ;
}
#back{
    position: absolute;
    margin-top: 30px;
    display: flex;
    color: white;
    font-size: 18px;
    margin-left: 30px;

}
@media screen and (max-width:767px){

    .all-projects{
        display: grid;
        grid-template-columns: auto ;
    }
    .project_more h2{
        font-size: 24px;
    }
    .project2 img{
        object-fit: cover;
        width: 100%;
    }
    .project2{
        width: 80vw;
    }
    .project_more hr{
        margin: auto;
        width: 50px;
        height: 2px;
        border-radius: 10px;
        margin-bottom: 50px;
        
    }
    #back{
        position: absolute;
        margin-top: 20px;
        display: flex;
        color: white;
        font-size: 18px;
        margin-left: 30px;
        text-decoration: none !important;
    
    }
    .more{
        margin-right: 30px;
    }

}

.toggle{
    position: fixed;
    transform: rotate(-90deg);
    top: 80%;
    display: flex;
    left: -2%;
}
.dark_btn{
    margin: 0;
    background-color: #424355;
    color: white;
    border: 1px solid #E0DAE9;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
}
.light_btn{
    margin: 0;
    background-color: #E0DAE9;
    color: black;
    border: 1px solid #E0DAE9;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;

}
.lightmode{
    background-color: #E0DAE9 !important;
    color: black !important; 
    /* box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.68), 6px 6px 12px rgba(0, 0, 0, 0.25); */
}
.light_body{
    background: #E0DAE9;
    color: black;
}
.light_hero{
    background: #E0DAE9;
    box-shadow: -8px -8px 16px rgba(255, 251, 251, 0.6), 10px 10px 20px #A19AAD;
    border-radius: 10px;
    
}
.light_hero p{
    color: black;
}
.light_hero .quote{
    color: #555555;
}
.light_hero .sign{
    color: #555555;
}
.light_nav a{
    color: black;
    font-weight: 500;
}
.light_nav .signature{
    color: black;
    font-weight: 500;
    
}
.light_project h2{
    color: black;
}
.light_project .project1{
    box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.68), 6px 6px 12px rgba(0, 0, 0, 0.25);
}
.light_project .project_wrapper span{
    color: #474747;
}
.light_project .more{
    color: black;
}
.light_about h2{
    color: black;
}
.light_about span{
    color: #474747;
}
.light_skill h2{
    color: black;
}
.light_skill .skill_container{
    background-color: #E0DAE9;
    box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.62), 6px 6px 12px rgba(0, 0, 0, 0.25);
}
.light_education h2{
    color: black;
}

.light_education #dark_edu{
    display: none;
}
#light_edu{
    display: none;
}
.light_education #light_edu{
    display: block;
}
.light_contact h2{
    color: black;
}
.light_contact a{
    background-color: #D0B0F1;
}
.light_contact span{
    color: #474747;
}
.light_footer{
    background-color: #D0B0F1;
}
.light_footer h2{
    color: black;
}
.light_footer a{
    color: #474747;
}
.light_footer .signature{
    color: black;
}
.light_copyright {
    background-color: #D0B0F1;
    color: black;
}
.light_toggle .light_btn{
    border: 1px solid #31323F;
    border-left: 0;
}
.light_toggle .dark_btn{
    border: none;
}
.light_eduicon{
    display: none;
}
.light_contact .light_eduicon{
    display: block;
}
.light_contact .dark_eduicon{
    display: none;
}
button:disabled{
    cursor: not-allowed;
}
@media screen and (max-width:767px){
    .toggle{
        display: none;
    }
}