@import url("https://fonts.googleapis.com/css2?family=Belgrano&family=Hind:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belgrano&family=Hind:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 240px);
  padding: 0 120px;
  height: 100vh;
  position: relative;
  #stars {
    position: absolute;
    width: 99px;
    height: 67px;
    top: 50px;
    left: 100px;
    @media screen and (max-width: 767px) {
      width: 64px;
      height: 67px;
      top: 4px;
      left: 37px;
    }
  }
  #arrow {
    position: absolute;
    width: 98px;
    height: 62px;
    top: 50px;
    right: 130px;
    @media screen and (max-width: 767px) {
      width: 72px;
      height: 62px;
      top: -4px;
      right: 44px;
    }
  }
  #line {
    position: absolute;
    width: 90px;
    height: 69px;
    bottom: 100px;
    left: 20px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  #king {
    position: absolute;
    width: 53px;
    height: 38.97px;
    right: 100px;
    bottom: 100px;
    @media screen and (max-width: 767px) {
      right: 68px;
      bottom: 47%;
    }
  }
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    width: calc(100% - 80px) !important;
    padding: 0 40px !important;
    justify-content: center;
    height: calc(100vh - 81.44px);
    gap: 60px !important;
  }
  @media screen and (max-width: 1100px) {
    flex-direction: column-reverse;
    width: calc(100% - 200px);
    padding: 0 100px;
    justify-content: center;
    height: calc(100vh - 81.44px);
  }
  #banner-image {
    width: 50%;
    margin-right: 50px;
    @media screen and (max-width: 767px) {
      width: 100%;
      margin-right: 0;
      height: 327px;
    }
    @media screen and (max-width: 1100px) {
      width: 100%;
      margin-right: 0;
      height: 400px;
    }
  }

  .banner-text {
    display: flex;
    flex-direction: column;
    width: 42%;
    @media screen and (max-width: 1100px) {
      width: 100%;
      padding-bottom: 40px;
    }

    h3 {
      font-family: "Hind";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;

      color: #cc6152;
      margin: 0;
      @media screen and (max-width: 1100px) {
        font-size: 14px;
      }
    }
    h2 {
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 40px;

      color: #ffffff;
      margin: 0;
      white-space: pre;

      @media screen and (max-width: 1100px) {
        font-size: 30px;
      }
      @media screen and (max-width: 767px) {
        font-size: 24px;
      }
    }
    h4 {
      font-family: "Hind";
      font-style: normal;
      font-weight: 700;
      font-size: 62px;

      color: #cc6152;
      margin: 8px 0;
      white-space: pre;

      @media screen and (max-width: 1100px) {
        font-size: 50px;
        margin: 2px 0;
      }
      @media screen and (max-width: 767px) {
        font-size: 32px;
      }
    }
    p {
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      margin: 0;
      margin-bottom: 35px;

      color: rgba(255, 255, 255, 0.79);
      @media screen and (max-width: 767px) {
        font-size: 14px;
        margin-bottom: 20px;
      }
      @media screen and (max-width: 1100px) {
        font-size: 16px;
        margin-bottom: 14px;
      }
    }
    .buttons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
    }
    .cv-btn {
      flex: 1;
      background: linear-gradient(90deg, #ba55d9 16.09%, #e963ff 102.39%);
      border-radius: 50px;
      padding: 23px 63px;
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: white;
      white-space: pre;
      border: none;
      @media screen and (max-width: 767px) {
        font-size: 16px;
        padding: 13px 23px;
      }
      @media screen and (max-width: 1100px) {
        font-size: 16px;
        padding: 16px 23px;
      }
    }
    .cv-btn:hover {
      border: 3px solid #ba55d9;
      background: transparent;
      padding: 20px 60px;
      @media screen and (max-width: 767px) {
        padding: 10px 20px;
      }
      @media screen and (max-width: 1100px) {
        padding: 13px 20px;
      }
    }

    .hire-btn {
      white-space: pre;
      flex: 1;
      border: 3px solid #ba55d9;
      border-radius: 50px;
      background-color: transparent;
      padding: 20px 60px;
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: white;
      @media screen and (max-width: 767px) {
        font-size: 16px;
        padding: 10px 20px;
      }
      @media screen and (max-width: 1100px) {
        font-size: 16px;
        padding: 13px 20px;
      }
    }
    .hire-btn:hover {
      background: linear-gradient(90deg, #ba55d9 16.09%, #e963ff 102.39%);
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    right: 110px;
    z-index: 10;
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (max-width: 1100px) {
      top: 126px;
      right: 92px;
    }
    img {
      height: 40px;
      width: 40px;
      opacity: 0.7;
      // transition: 0.2s linear;
      &:hover {
        opacity: 1;
        filter: drop-shadow(0px 0px 10px #c302ff);
      }
    }
  }
}
nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 240px);
  padding: 20px 120px;
  z-index: 10;
  @media screen and (max-width: 767px) {
    width: calc(100% - 80px) !important;
    padding: 20px 40px !important;
  }
  @media screen and (max-width: 1100px) {
    width: calc(100% - 200px);
    padding: 20px 100px;
  }
  #logo {
    width: 120px;
    height: auto;
  }
  .nav-ele,
  a {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      font-weight: 600;
      color: #cc6152;
      transition: 0.3s ease-in-out;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
    @media screen and (max-width: 1100px) {
      display: none;
    }
  }
  .mobile-nav {
    display: none;
    @media screen and (max-width: 1100px) {
      display: block;
      #menu {
        width: 30px;
        height: 17.5px;
      }
    }
  }
}
.about-me-container {
  background-color: #34324a;
  padding-bottom: 60px;
  position: relative;
  #about-stars {
    position: absolute;
    width: 99px;
    height: 67px;
    top: 100px;
    right: 100px;
    path {
      stroke: white;
    }
    @media screen and (max-width: 767px) {
      width: 73px;
      height: 67px;
      top: 45%;
      right: 22px;
    }
  }
  #about-line {
    position: absolute;
    width: 199px;
    height: 126px;
    right: 100px;
    bottom: 60px;
    @media screen and (max-width: 767px) {
      width: 139px;
      height: 126px;
      right: 14px;
      bottom: 50px;
    }
  }
  h3 {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 96px;

    /* identical to box height */

    color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0;

    @media screen and (max-width: 1100px) {
      font-size: 70px;
    }
    @media screen and (max-width: 767px) {
      font-size: 40px;
    }
  }
  .about-wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 0 120px;
    width: calc(100% - 240px);
    @media screen and (max-width: 767px) {
      margin: 0 40px !important;
      width: calc(100% - 80px) !important;
      flex-direction: column;
      gap: 40px;
    }
    @media screen and (max-width: 1100px) {
      margin: 0 100px;
      width: calc(100% - 200px);
      flex-direction: column !important;
      gap: 40px;
    }
    #about-img {
      width: 100%;
      @media screen and (max-width: 1100px) {
        width: 60%;
      }
      @media screen and (max-width: 767px) {
        width: 100% !important;
      }
    }

    .about-text {
      display: flex;
      flex-direction: column;
      align-self: baseline;
    }
    h4 {
      font-family: "Hind";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;

      /* identical to box height */

      color: #cc6152;
      margin: 10px 0;
      @media screen and (max-width: 767px) {
        font-size: 24px !important;
      }
      @media screen and (max-width: 1100px) {
        font-size: 30px;
        margin: 0px 0;
      }
    }
    p {
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 136.1%;
      /* or 24px */

      color: rgba(255, 255, 255, 0.83);
      margin-bottom: 40px;
      @media screen and (max-width: 767px) {
        font-size: 14px !important;
      }
      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
    .tab {
      border-bottom: 1px solid #ffffff;
      display: flex;

      .tab-options {
        background: transparent;
        border-radius: 6px 6px 0px 0px;
        padding: 10px 40px;
        font-family: "Hind";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: white;
        @media screen and (max-width: 767px) {
          font-size: 18px !important;
          padding: 10px 20px !important;
        }
        @media screen and (max-width: 1100px) {
          font-size: 20px;
          padding: 10px 30px;
        }
      }
      .active-option {
        background: linear-gradient(90deg, #ba55d9 0%, #e963ff 94.06%);
      }
    }
  }
}
.skills {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0px;

  gap: 40px;
  min-height: 275.43px;
  @media screen and (max-width: 767px) {
    gap: 20px;
    min-height: 122.43px;
  }
  img {
    height: 60px;
    width: auto;
    padding-top: 40px;
    @media screen and (max-width: 767px) {
      height: 40px;
      width: auto !important;
    }
  }
}
.education {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 40px;
  h3 {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }
  p {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px !important;
  }
}
.career-container {
  background: #27253a;
  width: calc(100% - 240px);
  padding: 20px 120px;
  position: relative;
  #career-arrow {
    position: absolute;
    width: 199px;
    height: 126px;
    transform: rotate(-88.92deg);
    left: 35%;
    top: 47%;
    @media screen and (max-width: 767px) {
      width: 126px;
      height: auto;
      transform: rotate(-120.92deg);
      left: 35%;
      top: 82%;
    }
  }
  @media screen and (max-width: 767px) {
    width: calc(100% - 80px) !important;
    padding: 20px 40px !important;
  }
  @media screen and (max-width: 1100px) {
    width: calc(100% - 200px);
    padding: 20px 100px;
  }
  h3 {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 96px;

    /* identical to box height */

    color: rgba(255, 255, 255, 0.2);
    text-align: center;

    padding-bottom: 30px;
    margin: 0;
    @media screen and (max-width: 767px) {
      font-size: 40px !important;
    }
    @media screen and (max-width: 1100px) {
      font-size: 70px;
    }
  }
  .career-detail {
    display: flex;
    align-items: center;
    gap: 14px;
    border-left: 6px solid rgba(255, 255, 255, 0.09);
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    cursor: pointer;
    @media screen and (max-width: 767px) {
      border-left: none;
      border-bottom: 6px solid rgba(255, 255, 255, 0.09);
      flex-direction: column;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 10px;
      gap: 8px;
      // justify-content: center;
    }
    @media screen and (max-width: 1100px) {
      border-left: none;
      border-bottom: 6px solid rgba(255, 255, 255, 0.09);
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
      gap: 8px;
      text-align: center;
      // justify-content: center;
    }
    img {
      width: 50px;
      height: 50px;
    }
    h2 {
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      color: white;
      @media screen and (max-width: 767px) {
        font-size: 12px;
        text-align: center;
      }
    }
  }
}
.tab-detail {
  background-image: url(./assets/career-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 391.16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // background: rgba(255, 255, 255, 0.11);
  border-radius: 20px;
  // padding: 0px 30px;
  width: 590px;

  position: relative;
  @media screen and (max-width: 1100px) {
    border-radius: 0;
    margin-top: 60px;
  }
  @media screen and (max-width: 767px) {
    width: 290px;
    border-radius: 0;
    margin-top: 40px !important;
    height: 191.61px;
  }

  &::after {
    content: "";
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(174, 82, 204, 0.32) 0%,
      rgba(174, 82, 204, 0) 100%
    );
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0;
    bottom: -90px;
  }
  p {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
  }
}

.tab-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  @media screen and (max-width: 1100px) {
    flex-direction: column;
  }
  .tab-container {
    @media screen and (max-width: 1100px) {
      display: none;
    }
  }
  .tab-container-mobile {
    display: none;
    @media screen and (max-width: 1100px) {
      display: flex;
    }
  }
}
.detail-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 80%;
  @media screen and (max-width: 767px) {
    gap: 8px;
  }
  .role {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

    color: #ffffff;
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }
  .duration {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    color: #ffffff;
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }
  .description {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 135.4%;
    color: #ffffff;
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }
}
.work-container {
  width: calc(100% - 240px);
  padding: 20px 120px;
  background: #34324a;
  position: relative;

  #works-stars {
    position: absolute;
    width: 123px;
    height: 87px;
    top: 70px;
    left: 50px;
    @media screen and (max-width: 767px) {
      width: 71px;
      height: 87px;
      top: 25px;
      left: 18px;
    }
  }
  #works-arrow {
    position: absolute;
    width: 173.87px;
    height: 110.09px;
    top: 50px;
    right: 100px;
    @media screen and (max-width: 767px) {
      width: 98.87px;
      height: 110.09px;
      top: 4px;
      right: 10px;
    }
  }
  @media screen and (max-width: 767px) {
    width: calc(100% - 80px);
    padding: 20px 40px;
  }
  h3 {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 96px;

    color: rgba(255, 255, 255, 0.15);
    text-align: center;
    margin: 0;

    @media screen and (max-width: 1100px) {
      font-size: 70px;
    }
    @media screen and (max-width: 767px) {
      font-size: 40px;
    }
  }
  .work-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding-top: 40px;
    gap: 20px;
    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr !important;
    }
    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr 1fr;
    }
    .work-grid {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      @media screen and (max-width: 767px) {
        border-radius: 6px;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
      .hover-text {
        font-family: "Public Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 148%;
        /* or 24px */

        text-align: center;

        color: #ffffff;
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 80%;

        text-align: center;
      }
      &:hover {
        img {
          filter: brightness(0.3) !important;
        }
        .hover-text {
          opacity: 1;
        }
      }
    }
  }
}
// * {
//   border: 1px solid red;
// }
footer {
  padding: 40px 120px;
  width: calc(100% - 240px);
  @media screen and (max-width: 767px) {
    padding: 40px 40px;
    width: calc(100% - 80px);
  }
  h3 {
    font-family: "Hind";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #ffffff;
    text-align: center;
    @media screen and (max-width: 1100px) {
      font-size: 16px;
    }
    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 10px;
    padding: 40px;
    @media screen and (max-width: 1100px) {
      padding: 30px;
      gap: 30px;
    }
    @media screen and (max-width: 767px) {
      padding: 20px;
      gap: 20px;
    }

    #footer-logo {
      width: 200px;
      height: 63.92px;
      @media screen and (max-width: 1100px) {
        width: 153px;
        height: auto;
      }
      @media screen and (max-width: 767px) {
        width: 84px;
        height: 26px;
      }
    }

    .footer-links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      flex-wrap: wrap;
      @media screen and (max-width: 767px) {
        gap: 16px;
      }
      .footer-ele,
      a {
        font-family: "Public Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        text-decoration: none;
        color: white;
        white-space: pre;
        @media screen and (max-width: 767px) {
          font-size: 14px;
        }
      }
      img {
        width: 50px;
        height: 50px;
        @media screen and (max-width: 1100px) {
          width: 35px;
          height: 35px;
        }
        @media screen and (max-width: 767px) {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
.sidebar {
  width: 55vw;
  background: linear-gradient(180deg, #cc6152 0%, #822013 100%);
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media screen and (max-width: 1100px) {
    width: 37vw;
  }

  img {
    position: absolute;
    top: 20px;
    right: 40px;
    height: 30px;
    width: 30px;
    @media screen and (max-width: 1100px) {
      right: 100px;
    }
    @media screen and (max-width: 767px) {
      right: 40px;
    }
  }
  .sidebar-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    a,
    .sidebar-ele {
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: white;
      text-decoration: none;
    }
    .hr {
      background-color: rgba(255, 255, 255, 0.48);
      height: 2px;
      width: 130px;
      border-radius: 10px;
    }
  }
  #sidebar-logo {
    width: 111px;
    height: 35.34px;
    position: absolute;
    bottom: 80px;
  }
}
